<ion-header class="ion-no-border">
  <img
    src="https://external-preview.redd.it/tQged7mKJ3cUpNMq5IMeceZvyKP3cTyHqhNmKEQ0Vv8.png?auto=webp&s=fb5fd61cae0bc9cde2bc2a006b1e2aeb0c935ce9"
    alt=""
  />
  <br />
  <ion-searchbar
    placeholder="Search Pokemon"
    (ionChange)="onSearchChange($event)"
  ></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div class="ion-padding"> -->
  <ion-card *ngFor="let poke of pokemon" [routerLink]="poke.pokeIndex">
    <div class="mask">
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-title
              style="
                text-transform: capitalize;
                color: crimson;
                font-weight: bold;
                font-size: x-large;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
              "
              ><ion-badge
                color="dark"
                style="
                  --padding-start: 15px;
                  --padding-end: 15px;
                  --padding-top: 15px;
                  --padding-bottom: 15px;
                "
                >#{{poke.pokeIndex}}
              </ion-badge>
              &nbsp;{{poke.name}}
            </ion-card-title>
          </ion-col>
          <ion-col size="4">
            <ion-img
              style="width: 120px; height: 120px"
              src="{{poke.image}}"
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </div>
  </ion-card>
  <!-- </div> -->
  <ion-infinite-scroll (ionInfinite)="loadPokemon(true,$event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="loading more Pokemon...."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
